.blackbutton{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #ffffff;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Ariel',sans-serif;
    font-weight:300;
    color:#ffffff;
    text-align:center;
    transition: all 0.2s;
   }
   .blackbutton:hover{
   color:#000000;
   background-color:#FFFFFF;
       }
   @media all and (max-width:30em){
  .blackbutton{
     display:block;
     margin:0.4em auto;
    }
   }
   
   .whitebutton{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #2e2e2e;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Ariel',sans-serif;
    font-weight:300;
    color:#2e2e2e;
    text-align:center;
    transition: all 0.2s;
   }
   .whitebutton:hover{
       color:#ffffff;
       background-color:#2e2e2e;
           }
   @media all and (max-width:30em){
    .whitebutton{
     display:block;
     margin:0.4em auto;
    }
   }
   
   .button3{
   display:inline-block;
   padding:0.3em 1.2em;
   margin:0 0.1em 0.1em 0;
   border:0.16em solid rgba(255,255,255,0);
   border-radius:2em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Ariel',sans-serif;
   font-weight:300;
   color:#FFFFFF;
   text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
   text-align:center;
   transition: all 0.2s;
   }
   .downloadbutton:hover{
   border-color: rgba(255,255,255,1);
   }
   @media all and (max-width:30em){
   .button3{
   display:block;
   margin:0.2em auto;
    }
   }
   
   .downloadbutton{
   display:inline-block;
   padding:0.46em 1.6em;
   border:0.1em solid #000000;
   margin:0 0.2em 0.2em 0;
   border-radius:0.12em;
   box-sizing: border-box;
   text-decoration:none;
   font-family:'Roboto',sans-serif;
   font-weight:300;
   color:#000000;
   text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
   background-color:#FFFFFF;
   text-align:center;
   transition: all 0.15s;
       }
       .button5:hover{
   text-shadow: 0 0 2em rgba(255,255,255,1);
   color:#FFFFFF;
   border-color:#FFFFFF;
       }
       @media all and (max-width:30em){
        .button5{
   display:block;
   margin:0.4em auto;
       }
   }

   /* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: slateblue #2e2e2e;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #2e2e2e;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: slateblue;
    border-radius: 5px;
    border: 2px solid #2e2e2e;
  }
  
   .footer {
   
       height:100px;
       width: 1000px;
       text-align: center;
       background-color:#ff457d;
       background-image: none;
       background-repeat: repeat;
       background-attachment: scroll;
       background-position: 0% 0%;
       position: fixed;
       bottom: 0pt;
       left: 300pt;
   
   }   
   
   .footer_contents {
   
       height:200px;
       text-align: center;
       width: 600px; 
       margin:auto;
   
   }
   
   div {
       width: 320px;
       padding: 10px;
       border: 5px;
       margin: 0;
     }
     